<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Form oluşturmak için tıklayın</h5>
                <p class="card-text">.....</p>
                <a href="/Form/Create" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
 <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Oluşturulmuş formları görüntülemek için ve düzenlemek için tıklayın</h5>
                <p class="card-text">.....</p>
                <a href="/Form/Index" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
 </div> 
    
</div>